.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px ;
}

.title{
    color: var(--textSoft);
    margin-bottom: 20px;
    font-weight: 400;
}

.table{
    width: 100%;
}
.table td{
    padding: 10px;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}